.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    margin-inline: 2em;;
    padding: 1em;
    background: linear-gradient(180deg,#49444441,rgba(255, 255, 255, 0.096));
}

/* h1 {
    /* background-color: #22aa227c; */
    /* padding: .5em; */
/*}
