.border {
    border: 1px solid #b3e9e9;
    border-collapse: collapse;
    text-align: left;
    padding: 1em;
    margin-inline: 2em;
}

.idWidth, .nameWidth, .ageWidth, .genderWidth {
    background-color: #6ebbbb;
}

.idWidth {
    width: 16em;
}

.nameWidth {
    width: 16em;
}

.ageWidth {
    width: 8em;
}

.genderWidth {
    min-width: min-content;
}
